{
    "DaemonAuthenticationType":     "password",
    "DaemonAuthenticationPassword": "${ replicated_password }",
    "TlsBootstrapType":             "server-path",
    "TlsBootstrapHostname":         "${ tfe_hostname }",
    "TlsBootstrapCert":             "/opt/tfe-installer/cert.pem",
    "TlsBootstrapKey":              "/opt/tfe-installer/privkey.pem",
    "BypassPreflightChecks":        true,
    "ImportSettingsFrom":           "/opt/tfe-installer/settings.json",
    "LicenseFileLocation":          "/opt/tfe-installer/tfev4.rli",
    "LicenseBootstrapAirgapPackagePath": "/opt/tfe-installer/terraform-enterprise.airgap"
}